<!DOCTYPE html>
<html lang="en">

<head>
    <title>Domicilio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>

<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/index">
                            <img src="images/icons/logo.png" alt="IMG-LOGO" data-logofixed="images/icons/logo2.png">
                        </a>
                    </div>
                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">
                        <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

                        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <!-- Button Hide sidebar -->
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>
        <!-- - -->
        <ul class="menu-sidebar p-t-95 p-b-70">
            <li class="t-center m-b-13">
                <a href="/index" class="txt19">Inicio</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/menu" class="txt19">Menu</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/gallery" class="txt19">Galeria</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/about" class="txt19">About</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/blog" class="txt19">Blog</a>
            </li>

            <li class="t-center m-b-33">
                <a href="/contact" class="txt19">Contacto</a>
            </li>
            <li>
				<a href="/register" class="txt19 btn-register-nav">Registro</a>
			</li>

			<li>
				<a href="/login" class="txt19 btn-login-nav">Login</a>
			</li>
            <li class="t-center">
                <!-- Button4 -->
                <a href="/domicilio" class="btn4 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
                    Domicilio
                </a>
            </li>
        </ul>
        <!-- - -->
        <div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
            <!-- - -->
            <h4 class="txt20 m-b-33">
                Galeria
            </h4>
            <!-- Gallery -->
            <div class="wrap-gallery-sidebar flex-w">
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-01.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-01.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-02.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-02.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-03.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-03.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-05.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-05.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-06.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-06.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-07.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-07.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-09.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-09.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-10.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-10.jpg" alt="GALLERY">
                </a>
                <a class="item-gallery-sidebar wrap-pic-w" href="images/photo-gallery-11.jpg"
                    data-lightbox="gallery-footer">
                    <img src="images/photo-gallery-thumb-11.jpg" alt="GALLERY">
                </a>
            </div>
        </div>
    </aside>
    <!-- Title Page -->
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
        style="background-image: url(images/bg-title-page-02.jpg);">
        <h2 class="tit6 t-center">
            Domicilio
        </h2>
    </section>
    <!-- Reservation -->
    <section class="section-reservation bg1-pattern p-t-100 p-b-113">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-b-30">
                    <div class="t-center">
                        <span class="tit2 t-center">
                            Domicilio
                        </span>
                        <section class="section-booking bg1-pattern p-t-100 p-b-110">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 p-b-30">
                                        <div class="t-center">
                                            <span class="tit2 t-center">Entrega a Casa</span>
                                            <h3 class="tit3 t-center m-b-35 m-t-2">Pide tu Domicilio</h3>
                                        </div>

                                        <form class="wrap-form-booking">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="txt9">Nombre Completo</span>
                                                    <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                                        <input class="bo-rad-10 sizefull txt10 p-l-20" type="text"
                                                            name="dom-name" placeholder="Ej: Juan Pérez">
                                                    </div>

                                                    <span class="txt9">Dirección de Entrega</span>
                                                    <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                                        <input class="bo-rad-10 sizefull txt10 p-l-20" type="text"
                                                            name="dom-address" placeholder="Calle 123 #45-67">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <span class="txt9">Teléfono de Contacto</span>
                                                    <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                                        <input class="bo-rad-10 sizefull txt10 p-l-20" type="text"
                                                            name="dom-phone" placeholder="300 123 4567">
                                                    </div>

                                                    <span class="txt9">Método de Pago</span>
                                                    <div class="m-t-3 m-b-23">
                                                        <div class="payment-grid bo2 bo-rad-10">
                                                            <button type="button" class="nav-link active btn-pay"
                                                                onclick="selectPayment(this, 'Efectivo')">Efectivo</button>
                                                            <button type="button" class="nav-link btn-pay"
                                                                onclick="selectPayment(this, 'Tarjeta')">Tarjeta</button>
                                                            <button type="button" class="nav-link btn-pay"
                                                                onclick="selectPayment(this, 'Nequi')">Nequi</button>
                                                            <button type="button" class="nav-link btn-pay"
                                                                onclick="selectPayment(this, 'Daviplata')">Daviplata</button>
                                                        </div>
                                                        <input type="hidden" name="payment-method" id="selected-payment"
                                                            value="Efectivo">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wrap-btn-booking flex-c-m m-t-6">
                                                <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                                                    Confirmar Pedido
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Carrito de compras con sus respectivos productos -->

                                    <div class="col-lg-6 p-b-30 p-t-18">
                                        <div class="order-container bo2 bo-rad-10 bgwhite shadow-sm"
                                            style="overflow: hidden;">

                                            <div class="header-order-img" style="height: 140px; position: relative;">
                                                <img src="images/selecciona_tu_comida.png" alt="Banner"
                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                <div
                                                    style="position: absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); display:flex; align-items:center; justify-content:center;">
                                                    <h4 class="txt11 t-center"></h4>
                                                </div>
                                            </div>

                                            <div class="p-l-20 p-r-20 p-b-10">
                                                <div class="order-list-vertical"
                                                    style="max-height: 480px; overflow-y: auto; padding-right: 5px;">

                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/pollo-desmechado.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Pollo Desmechado</span>
                                                                <span class="txt10 color1">$25.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long"
                                                                onclick="alert('Agregado!')">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Bandeja Paisa</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Arroz con Pollo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Sobre barriga en salsa</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Alitas BBQ</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Punta de anca</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Costillas de cerdo BBQ</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Carne Seca</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Lomo de cerdo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Ajiaco</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Sopa Mondongo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Sopa de Arroz</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Sopa de pescado</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Sancocho</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Cazuela de marizcos</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Bagre en salsa</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Mojarra frita</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Tilapia al vapor</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Arroz con Pollo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Arroz con Pollo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Arroz con Pollo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="item-order-long d-flex align-items-center justify-content-between p-t-15 p-b-15 bo-b-1">
                                                        <div class="d-flex align-items-center" style="flex: 1;">
                                                            <div class="pic-small bo-rad-10 overflow-hidden m-r-15"
                                                                style="width: 65px; height: 65px; flex-shrink: 0;">
                                                                <img src="images/master-slides-02.jpg" alt="Sabor"
                                                                    style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div>
                                                                <span class="txt9 d-block">Arroz con Pollo</span>
                                                                <span class="txt10 color1">$32.000</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-center"
                                                            style="z-index: 10; position: relative;">
                                                            <input type="number" value="1" min="1"
                                                                class="qty-long bo2 bo-rad-10 t-center m-r-10">
                                                            <button type="button" class="btn-add-long">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="cart-summary bo-t-1 p-t-15 p-b-15 p-l-20 p-r-20 bg-light-gray">
                                                        <div class="flex-w flex-sb-m m-b-10">
                                                            <span class="txt9">Productos:</span>
                                                            <span class="txt10" id="cart-count">0 items</span>
                                                        </div>

                                                        <div class="flex-w flex-sb-m m-b-20">
                                                            <span class="txt9"
                                                                style="font-size: 18px; font-weight: bold;">TOTAL:</span>
                                                            <span class="txt10 color1" id="cart-total"
                                                                style="font-size: 20px; font-weight: bold;">$0</span>
                                                        </div>

                                                        <div id="cart-items-debug" class="txt10 m-b-10"
                                                            style="font-size: 11px; color: #888; display: none;"></div>

                                                        <button type="button"
                                                            class="btn3 flex-c-m size13 txt11 trans-0-4"
                                                            style="width: 100%;" onclick="vaciarCarrito()">
                                                            Vaciar Carrito
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="bg1">
        <div class="container p-t-40 p-b-70">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        Contactanos
                    </h4>

                    <ul class="m-b-70">
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Calle 64.14-15, Av Caracas #63-66, Bogotá
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            6015951951
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            patomaster@gmail.com
                        </li>
                    </ul>

                    <!-- - -->
                    <h4 class="txt13 m-b-32">
                        Horario
                    </h4>

                    <ul>
                        <li class="txt14">
                            09:30 AM – 11:00 PM
                        </li>

                        <li class="txt14">
                            TODOS LOS DIAS
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        Latest X
                    </h4>

                    <div class="m-b-25">
                        <span class="fs-13 color2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                        <a href="#" class="txt15">
                            @Pato_Restaurant2
                        </a>

                        <p class="txt14 m-b-18">
                            Te dejamos nuestras redes sociales para que te informes de nuevos cambios
                            y cosas que vendremos trayendo a futuro. ¡Gracias!
                            <br>
                            <a href="#" class="txt15">
                                https://buff.ly/2zaSfAQ
                            </a>
                        </p>

                        <span class="txt16">
                            19 Mar 2023
                        </span>
                    </div>

                    <div>
                        <span class="fs-13 color2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                        <a href="#" class="txt15">
                            @Pato_Restaurant
                        </a>

                        <p class="txt14 m-b-18">
                            Siguenos para mas cambios en nuestro menu!
                            <a href="#" class="txt15">
                                https://buff.ly/2zaSfAQ
                            </a>
                        </p>

                        <span class="txt16">
                            19 Mar 2023
                        </span>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-38">
                        Gallery
                    </h4>

                    <!-- Gallery footer -->
                    <div class="wrap-gallery-footer flex-w">
                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-01.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-01.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-02.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-02.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-03.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-03.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-04.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-04.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-05.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-05.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-06.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-06.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-07.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-07.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-08.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-08.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-09.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-09.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-10.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-10.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-11.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-11.jpg" alt="GALLERY">
                        </a>

                        <a class="item-gallery-footer wrap-pic-w" href="images/photo-gallery-12.jpg"
                            data-lightbox="gallery-footer">
                            <img src="images/photo-gallery-thumb-12.jpg" alt="GALLERY">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">
                    <div class="p-t-5 p-b-5">
                        <a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                        <a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                        <a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
                    </div>

                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        Copyright &copy; 2026 Todos los derechos reservados | Daniel y Carlos || Pato_Restaurant <i
                            class="fa fa-heart"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>



    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="./js/domicilio.js"></script>
    <script src="js/carrito.js"></script>
</body>

</html>